# Node.js dependencies
word-problem/node_modules/
word-problem-be/node_modules/

# Build outputs
word-problem/dist/
word-problem-be/dist/
word-problem/build/
word-problem-be/build/

# Environment files
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
